html{
    background-image: url(https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148697385.jpg);
    display:flex;
    justify-content: center; /* Vízszintesen középre igazítás */
    align-items: center; /* Függőlegesen középre igazítás */
    height: 100vh;
}

form{
    background-color:wheat;
}

.container{
    background-color:grey;
    color: beige;
    /*display: flex;*/
}

fieldset{
    background-color: seagreen;
}

